

<!-- ***************** Section: Hero Jumbotron *******************  -->

<section class = 'intro'>
  <div class = 'buffer-block-xl'></div>
  <div class = 'row'>
      <div class = 'col-md-5 col-md-offset-1'>
        <div class = 'logo'>
          <div id = 'logo-top'><strong>Charles</div>
          <div id = 'logo-bottom'>Brody</strong><i class = 'ionic ion-ios-color-wand-outline' id = 'logo-icon'></i></div>
        </div>
      </div>
      <div class = 'col-md-5'>
        <div class='hero'>
          <div class='charles-header' style="padding-top: 70px;">

            <p>Intelligent Web Design</p>
              <p>For Everyone.</p>

              <a class = 'button' id = 'hero-button' href="mailto:adam@charlesbrody.com" style="color:#fff;">Hire Us</a>
              <div class = 'buffer-block-lg'></div>
              <div class = 'line'></div>

          </div>
        </div>
      </div>
    </div>
</section>

<!-- ***************** Section: How It Works *******************  -->

<section class = 'intro'>
  <div class = 'buffer-block-xl'></div>
  <div class = 'row'>
    <div class = 'col-md-5 col-md-offset-1'>
      <div class = 'logo' id='services' style = 'padding-top:0px;'>
        <div id = 'logo-top'><strong>UX Design</div>
        <div id = 'logo-bottom'>UI Design</strong></div>
        <div id = 'logo-top'><strong>Branding</div>
        <div id = 'logo-bottom'>SEO</strong></div>
      </div>
    </div>

    <div class = 'col-md-5'>
      <div class='hero'>
        <div class='charles-header' style="">

          <p></p>
          <p>For Everyone.</p>
          <!--<h3 class = 'h3-subtitle'>UX/UI  Branding  Loyalty</h3>-->

          <a class = 'button' id = 'hero-button' href="mailto:adam@charlesbrody.com" style="color:#fff;">Hire Us</a>
          <div class = 'buffer-block-lg'></div>
          <div class = 'line'></div>

        </div>
      </div>
    </div>
  </div>
</section>




<!-- ***************** Section: Who We Are *******************  -->


<section class = 'intro'>
  <div class = 'buffer-block-xl'></div>
  <div class = 'row'>
    <div class = 'col-md-5 col-md-offset-1'>
      <div class = 'logo' id='bridging-the-gap' style = 'padding-top: 0px;'>
        <div id = 'logo-top'><strong>Bridging the gap</div>
        <div id = 'logo-bottom'>Between I have a Website</strong></div>
        <div id = 'logo-top'><strong>And I have a website</div>
        <div id = 'logo-bottom'>That is smarter than I Am.</strong></div>
      </div>
    </div>

    <div class = 'col-md-5'>
      <div class='hero'>
        <div class='charles-header' style="">

          <p></p>
          <p>For Everyone.</p>
          <!--<h3 class = 'h3-subtitle'>UX/UI  Branding  Loyalty</h3>-->

          <a class = 'button' id = 'hero-button' href="mailto:adam@charlesbrody.com" style="color:#fff;">Hire Us</a>
          <div class = 'buffer-block-lg'></div>
          <div class = 'line'></div>

        </div>
      </div>
    </div>
  </div>
</section>





    <!-- ***************** JQUERY/JS Bootstrap *******************  -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
