

<!-- ***************** Section: Hero Jumbotron *******************  -->

<section class = 'intro'>
  <div class = 'logo'><strong>Charles Brody</strong></div>
  <div class = 'buffer-block-xl'></div>
  <div class = 'buffer-block-xl'></div>
  <div class = 'row'>
      <div class = 'col-md-6 col-md-push-3'>
        <div class='hero'>
          <div class='hero-content charles-header'>

            <p>Intelligent web design for <br> small business.</p>

            <div class = 'buffer-block-lg'></div>
              <a class = 'button' href="mailto:adam@charlesbrody.com" style = 'color: inherit;'>Get Started</a>
              <div class = 'buffer-block-lg'></div>

              <%= image_tag "arrow-down-small.png" %>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- ***************** Section: How It Works *******************  -->

<section class = 'how-it-works'>
  <div class = 'buffer-block-lg'></div>
  <div class="container">
      <div class="container buffer-lg center">
        <div class = "row">
          <div class = 'col-md-12'>
            <p class = 'charles-header'>How It Works</p>
          </div>
        </div>

    <!-- Three columns of text below the carousel -->
    <div class = 'buffer-block-lg'></div>
    <div class="row" id = 'row-how-it-works'>

      <div class="col-sm-4 text-center div-buffer">
        <i class = 'icon ion-ios-color-wand'></i>
        <p class = 'charles-title'>Defining a Professional Website.</p><br>
        <p class = 'charles-text'>How many people who own pools can swim professionally? The same can be said about owning a website. You are tired of sinking - and we are here to change that - <span class = 'span-orange'>we build world class websites for small businesses.</span>  </p>
      </div><!-- /.col-lg-4 -->

      <div class="col-sm-4 text-center div-buffer">
        <i class = 'icon ion-ios-flame'></i>
        <p class = 'charles-title'>Communicating Your Brand.</p><br>
        <p class = 'charles-text'>We put our laptops down and get to know you and your business. We want to convey who you really are, in the simplest and smartest way, <span class = 'span-orange'>so your users can get down to business - and so you can enjoy yours.</span>  </p>
      </div><!-- /.col-lg-4 -->

      <div class="col-sm-4 text-center div-buffer">
        <i class = 'icon ion-trophy'></i>
        <p class = 'charles-title'>Leveraging Life In Digital.</p><br>
        <p class = 'charles-text'>Your users start using your digital services without friction. This means more sales, a better user experience, more referrals and scale that only digital provides. <span class = 'span-orange'>We believe in remarkable - and profitable.</span>  </p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class = 'buffer-block-sm'></div>
    <div class = 'row'>
      <div class = 'col-sm-4 col-sm-push-4'>
        <a class = 'button button-orange' href="mailto:adam@charlesbrody.com" style = 'color: #E76D51;'>Get Started</a>
      </div>
    </div>
  </div> <!-- end container  -->
</div> <!-- end marketing container -->
<div class = 'buffer-block-lg'></div>
</section>


<!-- ***************** Section: Who We Are *******************  -->

<section class = 'who-we-are'>
  <div class = 'buffer-block-lg'></div>
  <div class="container-fluid center">
    <div class = "row">
        <div class = 'col-md-12'>
          <p class = 'charles-header'>Who We Are</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-push-4 col-md-4 col-md-push-4 col-lg-4 col-lg-push-4 charles-text text-centered">
      <p class = 'charles-text'>Founded by a graduate of General Assembly's web development course, Charles Brody is a tight knit change agent of web designers, ux designers, and writers, whose goal it is to provide a world class digital experience for individuals and small businesses.</p>
    </div><!-- /.col-lg-4 -->
  </div>
    <div class = 'row'>
      <div class = 'col-sm-4 col-sm-push-4'>
        <a class = 'button button-white' href="mailto:adam@charlesbrody.com" style="margin-top:50px text-decoration: none; color: inherit;">Get Started</a>
      </div>
    </div>
  <div class = 'buffer-block-lg'></div>
</section>



  <!-- ***************** Section: What They Say *******************  -->


<section class = 'what-they-say'>
  <div class = 'buffer-block-lg'></div>
    <div class="container">
      <div class="container buffer-lg center">
        <div class = "row">
          <div class = 'col-md-12'>
            <p class = 'charles-header'>What They Are Saying</p>
          </div>
        </div>


        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-sm-4 text-center">
            <img class="img-circle" data-src="holder.js/140x140">
            <h4>"You really have a talent for this."</h4><br>
            <p>@chrisandmingle</p>

          </div><!-- /.col-lg-4 -->
          <div class="col-sm-4 text-center">
            <img class="img-circle" data-src="holder.js/140x140">
            <h4>"Why are you a better communicator than me - I'm an event planner."</h4><br>
            <p>@arsyga</p>

          </div><!-- /.col-lg-4 -->
          <div class="col-sm-4 text-center">
            <img class="img-circle" data-src="holder.js/140x140">
            <h4>"I didn't realize how much technical debt my dog's website has."</h4><br>
            <p>@johnnyfootball</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <div class = 'row'>
          <div class = 'col-md-2 col-md-offset-5'>
          </div>
        </div>
      </div> <!-- end testimonial container -->
      <div class = 'buffer-block-lg'></div>
</section>

<!-- ***************** Section: Our Work *******************  -->



<!-- ***************** Section: Contact Us *******************  -->

<section class = 'contact'>
  <div class = 'buffer-block-lg'></div>
  <div class = 'container'>
    <div class = 'row'>
      <div class = 'col-md-12 text-center'>
        <h1>Contact</h1>
      </div>
    </div>

    <div class = 'buffer-block-sm'></div>

    <!-- Contact Form -->
    <div class = 'row'>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
              <input type="text" class="form-deface" id="inputName" placeholder="Name">
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
              <input type="email" class="form-deface" id="inputEmail" placeholder="Email">
            </div>

        <div class="form-group">
          <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
            <input type="text" class="form-deface" id="inputFeedback" placeholder="What's on your mind?">
          </div>
        </form>
      </div>
  </div>

  <div class = 'row'>
    <div class = 'col-xs-4 col-xs-push-4 text-center'>
      <button type = 'submit' class = 'button button-white text-center' style="text-decoration: none; width:157.5px; margin-top: 20px; background-color: #8AC7A5;">Send</button>
    </div>
  </div>
  <div class = 'buffer-block-lg'></div>
</section>



    <!-- ***************** JQUERY/JS Bootstrap *******************  -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
