@import "bootstrap-sprockets";
@import "bootstrap";

//$font-stack:    Helvetica, sans-serif;
//$primary-color: #333;
//
//body {
//  font: 100% $font-stack;
//  color: $primary-color;
//}

$font-stack: Roboto;
$charles-red: #872D3C;
$charles-orange: #E76D51;
$charles-green: #8AC7A5;
$charles-grey: #872D3C;
$charles-white: #fff;
$charles-black: #000;


/* media queries */

@media only screen and (max-width: 640px){
  .hero-content h1{
    font-size: 30px;
  }
}


.body{
  font-family: $font-stack;
  color: rgb(58, 58, 58);
  font-size: 16px;
  a{
    text-decoration: none;
    color: inherit;
  }
}



.static-container{
  margin: auto;
  max-width: 1140px;
}

.intro{
  background-color: $charles-red;
  color: #fff;
  .hero{
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    height: 600px;
  }

}


.hero-content{
  position: relative;
  top: 150px;
  vertical-align: middle;
  z-index: 2;
  display: inline-block;
  zoom: 1;
}


#how-it-works{
  left: 30.33333333%;
}


//Button Styling

.button {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  padding: 1em 1.75em;
  display: inline-block;
  line-height: 1em;
  margin: 10px 0;
  border-radius: 60px;
  height: 50px;

  &:hover{
    opacity: .8;
    text-decoration: none;
  }
}


.button-wrapper{
  text-align: center;
}


.hero-cta{
  margin-top: 35px;
}


//Header and Footer Styling


#nav-logo{
 margin-left: 40%;
 margin-top: 2.5%;
 width: 200px;
}

.nav-header{
  height: 150px;
}

#footer-nav {
  border: 1px solid black;
  padding-top: 10px;
  margin-top: 40px;
  height: 180px;
  width: 100%;
  background-color: #333;
}

#footer-copyright{
  color: #fff;
}

#footer-nav-links a {
  color: #fff;
  padding: 10px;
}

#footer-social-icons {
  text-transform: uppercase;
  color: white;
  font-size: 28px;
}


.col-lg-4 {
  padding: 30px;
}

.placeholder {
  margin-top: 30px;
  margin-bottom: 40px;
}


.col-centered{
  display: inline-block;
  float: none;
  vertical-align: top;
}


.center{
  text-align: center;
}


/*Sections*/



.how-it-works{
}

.who-we-are{
  background-color: $charles-orange;
  color: #fff;
  height: 475px;
}

.what-they-say{
  height: 475px;
}


.contact{
  background-color: $charles-green;
  color: #fff;
  height: 775px;
}


/*Buffers*/


.buffer-sm{
  margin-top: 4px;
  margin-bottom: 4px;
}

.buffer-lg{
  margin-top: 20px;
  margin-bottom: 20px;
}

.buffer-xl{
  margin-top: 45px;
  margin-bottom: 45px;
}

.buffer-xxl{
  margin-top: 90px;
  margin-bottom: 45px;
}


.padding-reset{
  padding: 0;
}

.buffer-block-sm{
  height: 35px;
}

.buffer-block-md{
  height: 55px;
}

.buffer-block-lg{
  height: 75px;
}

// Contact Form

#inputName{
  border-radius: 60px;
  border: 1px solid #fff;
  height: 50px;
  width: 100%;
  background-color: $charles-green;
  margin-bottom: 10px;
  // margin-left: 23%;
}
#inputEmail{
  border-radius: 60px;
  border: 1px solid #fff;
  height: 50px;
  width: 100%;
  background-color: $charles-green;
  margin-bottom: 25px;
  // margin-left: 23%;
}
#inputFeedback{
  border-radius: 35px;
  border: 1px solid #fff;
  height: 300px;
  width: 100%;
  background-color: $charles-green;
  // margin-left: 24%;
}

.form-deface{
  &:hover{
    opacity: .8;
  }
}

// Style placeholder text

::-webkit-input-placeholder { /* WebKit browsers */
  color:    #fff;
  padding-left: 35px;
  text-transform: lowercase;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #fff;
  padding-left: 35px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #fff;
  padding-left: 35px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #fff;
  margin-left: 5px;
}

input[placeholder] {
  color: #fff;
}

// Styling

.charles-header{
  font-size: 50px;
}

.charles-text{
  font-size: 18px;
}

.charles-title{
  font-size: 18px;
  font-weight: bold;
}


// Button color styles

.button-red{
  color: $charles-red;
  border: 1px solid $charles-red;

}

.button-green{
  color: $charles-green;
  border: 1px solid $charles-green;
}

.button-orange{
  color: $charles-orange;
  border: 1px solid $charles-orange;
}

.button-white{
  color: #fff;
  border: 1px solid #fff;
  a:&hover{
    text-decoration: none;
    background-color: #fff;
    opacity: .5;
  }
}

//Brand Colors
.red{
  background-color: #872D3C;
}
.orange{
  background-color: #E76D51;
}
.green{
  background-color: #8AC7A5;
}
.grey{
  background-color: #872D3C;
}

//Stripes
.stripe{
  width: 33%;
  height: 7.5px;
  display: inline-block;
}


// ***************** Media Queries *****************************


// Stripe media queries

@media screen and (max-width: 850px) {
  .stripe {
    width: 30%;
  }
}

// Nav-logo media queries

@media screen and (max-width: 1200px) {
  #nav-logo {
    margin-left: 40%;
    margin-top: 3%;
  }
}


@media screen and (max-width: 850px) {
  #nav-logo {
    margin-left: 30%;
    margin-top: 4%;
  }
}

@media screen and (max-width: 600px) {
  #nav-logo {
    margin-left: 30%;
    margin-top: 5%;
  }
}


@media screen and (max-width: 450px) {
  #nav-logo {
    margin-left: 10%;
    margin-top: 6.5%;
  }
}

// Jumbotron text media queries

@media screen and (max-width: 450px) {
  .charles-header {
    font-size: 40px;
  }
}


// How-it-works media queries
@media screen and (max-width: 750px) {
  .div-buffer {
    margin-bottom: 50px;
  }
}

// What-they-say media queries
@media screen and (max-width: 768px) {
  .what-they-say {
    height: 550px;
  }
}

@media screen and (max-width: 650px) {
  .what-they-say {
    height: 650px;
  }
}


// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
