<!-- footer -->
<!--
<div id="footer-nav" class="content-block">
  <div id="footer-left">
    <nav id="footer-nav-links">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/team">Professionals</a>
      <a href="/contact">Contact</a>
      <br>
      <div id="footer-copyright">
        <p class='text-center'>© 2015 All Rights Reserved</p>
      </div>


       <div class="container text-center">
        <div id="footer-social-icons">
          <a href="https:www.facebook.com/#/"><i class="fa fa-facebook"></i></a>
          <a href="https:www.twitter.com/#/"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-youtube-play"></i></a>
        </div>
      </div>
    </nav>

  -->
