<!-- *************** Section: Navbar ************** -->


<nav class="container-fluid nav-header">
    <div class = 'stripe red'></div>
    <div class = 'stripe orange'></div>
    <div class = 'stripe green'></div>
    <div id = 'nav-logo'><a href="#"><%= image_tag "cb-logo.png" %></a></div>
</nav>





<!--<nav class="navbar navbar-default navbar-fixed-top navbar-fixed-top" id='nav-deface'>-->
  <!--<div class="container-fluid">-->
    <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a class="navbar-brand" href="#" style='font-family: proxima-nova; font-weight: 600; color: rgb(51, 51, 51);'>charles brody</a>-->
    <!--</div>-->

    <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
      <!--<ul class="nav navbar-nav">-->
      <!--</ul>-->

      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a href="#">Home</a></li>-->
        <!--<li><a href="mailto:'adam.mclean1@gmail.com'">Contact</a></li>-->
        <!--&lt;!&ndash; <li><a href="#">Blog</a></li> &ndash;&gt;-->
        <!--<li><a href="#"></a></li>-->
    <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
  <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->
